{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }
        .card-registration .select-arrow {
            top: 13px;
        }
        #submit {
            border: none;
            background-color: rgb(235, 152, 0);
            color: rgb(255, 255, 255);
            padding: 10px;
            transition: all ease 1s;
        }
        #submit:focus {
            background-color: rgb(255, 169, 56)
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana səhifə</a>
                <a class="breadcrumb-item text-dark" href="#">Hesab</a>
                <span class="breadcrumb-item active">Giriş</span>
            </nav>
        </div>
    </div>
</div>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-50">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Giriş formu</h3>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrf">
         
            <div class="row">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input required type="email" id="emailAddress" class="form-control form-control-lg" />
                  <label class="form-label" for="emailAddress">Elektron poçt</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input required type="password" id="pass" class="form-control form-control-lg" />
                  <label class="form-label" for="pass">Şifrə</label>
                </div>
              </div>
            </div>

            <a href="{% url 'account:forget_password' %}">Şifrəni unutmusunuz?</a>

            <div class="mt-4 pt-2">
              <button onclick="login()" id="submit">Daxil ol</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script>
    const csrf = document.getElementById("csrf").value;

    function login() {
        const csrf = document.getElementById("csrf").value;
        const email = $("#emailAddress").val();
        const pass = $("#pass").val();

        if (email && pass.length >= 0) {
            fetch("{% url 'account:login' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrf,
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                body: JSON.stringify({ email, password: pass }),
                credentials: 'include'  
            })
            .then(res => {
                if(res.ok){
                    window.location.href = "{% url 'core:home' %}";
                }
            });
        }
    }
</script>
{% endblock %}
