{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-5 px-5">
  <div class="row px-5">
    <div class="col-lg-6">
      <img style="width: 100%; object-fit: cover;"
        src="https://www.marvin.com/_next/image?url=https%3A%2F%2Fa-us.storyblok.com%2Ff%2F1019562%2F1920x1281%2F20f649969a%2Fmarvin-ultimate-single-hung-insert-g2-window-15-stpaul.png%2Fm%2Ffilters%3Aquality(100)%3Afill(transparent)&w=3840&q=75"
        alt="">

    </div>
    <div class="col-lg-6">
      <h2 class="text-uppercase mt-4 mt-lg-0 mb-4">Haqqımızda - WinBlock Azərbaycan</h2>
      <p class="lead" style="font-size: 15px;">

   Rəsmi distribütor: Biz WinBlock-un Azərbaycandakı rəsmi distribütoru və tərəfdaşıyıq. Öz işinizi rəsmi tərəfdaşa əmanət etməklə siz tam güvənli olacaqsınız və xidmətin keyfiyyətinə tam əmin ola bilərsiniz.

<br/><br/>WinBlock – uşaqların təhlükəsizliyi üçün dünyada ən çox etibar edilən innovativ pəncərə və balkon təhlükəsizlik sistemidir. Valideynlərin ən böyük narahatlığı – uşaqların pəncərədən və ya balkondan yıxılma riski – artıq WinBlock ilə keçmişdə qalır.

<br/><br/>Bu sistem artıq Azərbaycanda 3000-dən çox ailənin seçimidir və hər gün yeni evlərdə uşaqların həyatını qoruyur.

<br/><br/>🔹 Etibarlılıq: WinBlock İstanbul Texniki Universiteti tərəfindən rəsmi olaraq test olunmuş və 250 kq-a qədər yükgötürmə sınaqlarını uğurla keçmişdir. Bu nəticələr, sistemin gücünü və davamlılığını sübut edir.

<br/><br/>🔹 Dizayn: WinBlock çox nazik və estetik quruluşa malikdir. Evdə heç bir sıxılma və ya qapanma hissi yaratmır, interyerə tam uyğunlaşır və açıq pəncərələrin verdiyi rahatlığı qoruyur.

<br/><br/>🔹 Komfort və təhlükəsizlik: WinBlock ilə pəncərənizi açıq saxlaya, evinizə təmiz hava daxil edə və eyni zamanda uşaqlarınızın tam təhlükəsiz olduğuna əmin ola bilərsiniz.

<br/><br/>WinBlock – təhlükəsizlik və komfortun mükəmməl vəhdəti.
<br/>Artıq minlərlə ailənin seçimi olan bu sistemi siz də evinizdə quraşdıraraq övladlarınız üçün daha güvənli bir mühit yarada bilərsiniz.
      </p>

      
    </div>
  </div>

</div>
{% endblock %}
