{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-5 px-5">
  <div class="row px-5">
    <div class="col-lg-6">
      <img style="width: 100%; object-fit: cover;"
        src="https://www.marvin.com/_next/image?url=https%3A%2F%2Fa-us.storyblok.com%2Ff%2F1019562%2F1920x1281%2F20f649969a%2Fmarvin-ultimate-single-hung-insert-g2-window-15-stpaul.png%2Fm%2Ffilters%3Aquality(100)%3Afill(transparent)&w=3840&q=75"
        alt="">

    </div>
    <div class="col-lg-6">
      <h2 class="text-uppercase mt-4 mt-lg-0 mb-4">Haqqımızda</h2>
      <p class="lead" style="font-size: 15px;">
     WINSTOP Pəncərə Təhlükəsizlik Sistemləri San. və Tic. Ltd. Şti. mövzusunda ixtisaslaşmış peşəkar heyətin uzun müddətli Ar-Ge (Araşdırma və İnkişaf) işləri nəticəsində, hər evdə, hər pəncərədə rahatlıqla istifadə oluna biləcək, insanların özləri rahatlıqla quraşdıra biləcəyi, praktik, iqtisadi və möhkəm təhlükəsizlik sistemləri dizayn edib istehsal etməyi əsas məqsəd seçmiş mövzu üzrə qabaqcıl şirkətdir.

Şirkətin ilk və əsas məhsulu olan "WINBLOCK® KIDS Uşaqlar üçün Pəncərə və Balkon Təhlükəsizlik Sistemi", ən dəyərli sərvətimiz olan uşaqlarımızın həyat təhlükəsizliyinin təmin olunması məqsədilə hazırlanmışdır. Bu sistemlə evlərdə pəncərələr sərbəst açılıb rahatlıqla hava alına bilir, uşaqlar isə təhlükəsiz mühitdə olur, valideynlər isə rahatlıqla uşaqlarının təhlükəsizliyindən əmin ola bilirlər. Şirkətin ikinci məhsulu olan "WINBLOCK® PETS Evcil Heyvanlar üçün Pəncərə və Balkon Təhlükəsizlik Sistemi" ev heyvanlarımızın pəncərə və balkonlarda təhlükəsizliyini təmin etmək üçün xüsusi inkişaf etdirilmiş və heyvansevərlər tərəfindən böyük rəğbət qazanmışdır. Məhsullarımız Türkiyə və dünyada dizaynı, praktikliyi və quraşdırma üsulu baxımından özünəməxsusdur, gətirdiyi yeniliklərlə Patent və Sənaye Dizayn Qeydiyyatı müraciətləri ilə qorunma altına alınmış məhsullardır.

Şirkətimizdə tamamilə öz dizaynımız olan məhsulların Ar-Ge işləri, inkişaf etdirilən məhsulların istehsalı və satışı həyata keçirilir. Daxili bazarda qısa müddət ərzində böyük uğurla Türkiyənin demək olar ki, bütün şəhərlərində WINBLOCK® məhsul və quraşdırma xidmətləri əldə oluna biləcək distribütorluq şəbəkəsi formalaşdırılmışdır. Eyni zamanda xarici ölkələrdə də bir çox ölkədə WINBLOCK® distribütorluqları verilmiş, məhsul və quraşdırma xidmətləri xaricdə də istifadəçilərə təqdim edilmişdir.

Məhsullar keyfiyyətdən və möhkəmliyindən heç bir güzəştə getmədən inkişaf etdirilir, məhsul testləri Türkiyənin ən yaxşı universitetlərinin laboratoriyalarında mütəxəssislərin nəzarəti altında həyata keçirilir.
      </p>

      
    </div>
  </div>

</div>
{% endblock %}