{% extends 'base.html' %}
{% load static custom_filters %}

{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Ana səhifə</a>
        <span class="breadcrumb-item active">Dilerlərin siyahısı</span>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid pt-2 pb-5 px-5">
  <div class="text-center my-4">
    <h1 class="display-5 fw-bold text-uppercase" style="color: #000000;">
      {{ page_title }}
    </h1>
    <p class="lead py-3" style="font-size: 20px;color: #000000;">
      WinBlock® məhsulları bazarda yenidir və diler yerlərinin verilməsi davam edir.<br>
      Dilerlik üçün müraciət etmək istəyirsinizsə, bizimlə əlaqə saxlaya bilərsiniz.
    </p>
  </div>

  <div class="table-responsive px-5">
    <table class="table" style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th colspan="4" class="text-center"
            style="background-color: #c4d79b; border: 1px solid black; height: 106px; vertical-align: middle;">
            <span style="font-size: 23px;  font-family: İnherit;">
              WINBLOCK DİLERLƏRİN SİYAHISI (XARİCİ)<br>&nbsp; DİLERLƏRİN SİYAHISI (XARİCİ)
            </span>
          </th>
        </tr>
        <tr>
          <th class="text-center"
            style="background-color: #c4d79b; border: 1px solid black; height: 45px; vertical-align: middle;">
            <span style="font-size: 23px;  font-family: İnherit;">ÖLKƏ (EN)</span>
          </th>
          <th class="text-center" style="background-color: #c4d79b; border: 1px solid black; vertical-align: middle;">
            <span style="font-size: 23px;  font-family: İnherit;">&nbsp;ÖLKƏ (AZ)</span>
          </th>
          <th class="text-center" style="background-color: #c4d79b; border: 1px solid black; vertical-align: middle;">
            <span style="font-size: 23px;  font-family: İnherit;">
              <img alt=""
                src="https://static.ticimax.cloud/cdn-cgi/image/width=184,quality=99/30148//uploads/editoruploads/png-transparent-logo-instagram-text-logo.png"
                style="width: 15px; height: 15px;">&nbsp;Instagram və sayt
            </span>
          </th>
          <th class="text-center" style="background-color: #c4d79b; border: 1px solid black; vertical-align: middle;">
            <span style="font-size: 23px;  font-family: İnherit;">
              <img alt=""
                src="https://static.ticimax.cloud/cdn-cgi/image/width=63,quality=99/30148//uploads/editoruploads/png-clipart-phone-phone-photoroom.png"
                style="width: 28px; height: 16px;">Telefon&nbsp;
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for dealer in dealers %}
        <tr>
          <td class="text-center"
            style="background-color: #ffff99; border: 1px solid black; height: 66px; vertical-align: middle; white-space: nowrap;">
            <span style="font-size: 23px; color: black;  font-family: Arial, sans-serif;">
              {{ dealer.country_en }}
            </span>
          </td>
          <td class="text-center"
            style="background-color: #ffff99; border: 1px solid black; vertical-align: middle; white-space: nowrap;">
            <span style="font-size: 23px; color: black; font-family: Arial, sans-serif;">
              {{ dealer.country_az }}
            </span>
          </td>
          <td class="text-center"
            style="background-color: #fcd5b4; border: 1px solid black; vertical-align: middle; white-space: nowrap;">
            <span style="font-size: 23px; color: black; font-family: Calibri, sans-serif;">
              {% if dealer.social_web and dealer.social_web|startswith:'http' %}
              <a href="{{ dealer.social_web }}" target="_blank" style="color: black; text-decoration: none;">
                {{ dealer.social_web|cut:"http://"|cut:"https://" }}
              </a>
              {% elif dealer.social_web %}
              {{ dealer.social_web }}
              {% else %}
              -
              {% endif %}
            </span>
          </td>
          <td class="text-center"
            style="background-color: #fcd5b4; border: 1px solid black; vertical-align: middle; white-space: normal;">
            <span style="font-size: 23px;  color: black; font-family: Calibri, sans-serif;">
              {{ dealer.phone|default:"-" }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
